* {
    box-sizing: border-box; /*позволяет считать правильную высоту и ширину*/
}

body {
    font-family: 'Roboto", sans-serif';
}

.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    margin: 0px; /*отключение внешних отступов*/
    padding: 0px; /*отключение внутренник отступов*/
    list-style: none; /*отключение точек в списке*/
    display: flex; /*выравнивание элементов списка в строку*/
    text-align: center; /*выравнивание текста элементов по центру*/
}

.navbar-item {
    margin-left: 40px;
    margin-right: 40px;
}

.navbar-link {
    text-decoration: none; /*убрать подчеркивание у ссылок + покраска в белый цвет*/
    color: #fff;
}

.navbar-text {
    display: block; /*бдочный элемент, занимающий всю стрчоку*/
    color: #fff; /*цвет текста белый*/
    margin-bottom: 4px; /*вниз отталкивает телефон, нижний отступ после фразы "Заказать звонок"*/
    font-size: 14px;
    line-height: 16px;
}

.navbar-contacts {
    text-align: right; /*выравнивание текста по прафому краю*/
}

.navbar-phone {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff; /*цвет текста белый*/
}